ruleset('test') {
    require(['value'])
    rule('quantity within range') {
        when {
            value < 1 || value > 10
        }
        then {
            failed = true
            message = ["invalid quantity"]
        }
        otherwise {
            failed = false
            message = []
        }
    }
    test(value: 0) {
        failed true
        message(["invalid quantity"])
    }
}